.about {

    background: white;
    padding: 0 0 3vh;

}

@media (min-width: 1025px) {
    .about {

        padding: 0 13vh 10vh;

        .dropdown {
            padding: 0 7vh;
        }
    }
}


@media (min-width: 1440px) {
    .about {
        padding: 0 21vh 15vh;

    }
}