.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    background: white;

    .navbar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        text-align: center;
        gap: 10%;



        a:hover {

            text-decoration: underline;
            color: $primary;
        }

        .nav-active {
            /* Stylisez ici les liens actifs comme vous le souhaitez */
            text-decoration: underline;
            /* Par exemple, vous pouvez rendre le texte en gras */
        }
    }
}

// Media Query pour les écrans de bureau
@media (min-width: 1025px) {
    .header {
        padding: 5rem 13vh 1rem;

        .navbar {
            gap: 2.5rem;
        }
    }
}

@media (min-width: 1440px) {
    .header {
        padding: 2rem 21vh 1rem;

        .navbar {
            gap: 2.5rem;
        }
    }
}