.dropdowns {
    display: block;
    width: 100%;
    margin: 1.5rem 0;

}

.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 20px;
    border-radius: 0.5rem;
    padding: 0.6rem;
    margin: 0 1rem 0;
    background-color: $primary;
    cursor: pointer;
    color: white;
    position: relative;
    z-index: 2;

    .arrow {
        width: 1.6rem;
        transform: rotate(270deg);
    }

    .flipped {
        transform: rotate(90deg);
        margin: 0 6px 0 0;
    }
}

.equipments {
    text-decoration: none;

    li {
        margin: 0.2rem;
    }
}

.dropdown {
    overflow: hidden;
    transition: height 0.3s ease-out;
}

.dropdown-text {
    margin: 0 1rem;
    padding: 2rem 1rem 1rem;
    background-color: $secondary;
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: 1;
    color: $primary;
}

@media (min-width: 1024px) {
    .dropdown {
        padding: 0;
    }
}