.home {
    background: white;
    padding: 0 0 1rem;
}


@media (min-width: 1024px) {
    .home {
        padding: 0 13vh;
    }

}

@media (min-width: 1440px) {
    .home {
        padding: 0rem 21vh;

    }
}