* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-weight: 500;

}




body {
    margin: 0;
    padding: 0;
    background: black;
    font-size: 0.8rem;
}


a {
    text-decoration: none;
    color: $primary;
}

ul {
    list-style: none;
}